<h1>Sunku Bhanu Kedhaar Nath           -                                                          Z1974769 <h1>

<h3>Q1) The Interest Function </h3>

In [1]:
def total_with_interest(p,r):
    A = p*(1+r)
    return A
total_with_interest(10000,0.01)

10100.0

<h3> Q2) Time to Wait </h3>

In [2]:
#part1 = total_with_interest(1000,0.01)
def years_until_target(p,target):
    years = 1
    x = p
    total = 0 
    while total < target:
        x = total_with_interest(x , 0.01)
        total = x
        years = years+1
    print(years)
        
years_until_target(total_with_interest(1000,0.01), 2000)
#part1 in place of calling func

70

<h3>Q3) Comparing Scenarios</h3>

In [3]:
def years_to_catch(A1,r1,A2,r2):
    years = 0
    if ((A1<A2) & (r1>r2)):
        while A1<A2:
            A1 = total_with_interest(A1,r1)
            A2 = total_with_interest(A2,r2)
            years = years + 1
    elif ((A2<A1) & (r2>r1)):
        while A2<A1:
            A1 = total_with_interest(A1,r1)
            A2 = total_with_interest(A2,r2)
            years = years + 1
    else:
        return float('inf')
    return years
print(years_to_catch(1000,0.05,2000,0.02))

24

<h3>Q4) Effect of the Number of Compounding Periods </h3>

In [4]:
def compounding(p,r,n):
    x = p*((1+(r/n))**n)
    return x
def q4(p,r,n):
    A = p
    for n in range(1,13):
        print(n," : " , end = " ")
        for j in range(1,11):
            A = compounding(A, 0.05,n)
            print(round(A,2), end = " ")
        print()
        A = p
q4(1000,0.05,12)

1  :  1050.0 1102.5 1157.62 1215.51 1276.28 1340.1 1407.1 1477.46 1551.33 1628.89
2  :  1050.62 1103.81 1159.69 1218.4 1280.08 1344.89 1412.97 1484.51 1559.66 1638.62
3  :  1050.84 1104.26 1160.4 1219.39 1281.38 1346.53 1414.98 1486.91 1562.51 1641.94
4  :  1050.95 1104.49 1160.75 1219.89 1282.04 1347.35 1415.99 1488.13 1563.94 1643.62
5  :  1051.01 1104.62 1160.97 1220.19 1282.43 1347.85 1416.6 1488.86 1564.81 1644.63
6  :  1051.05 1104.71 1161.11 1220.39 1282.7 1348.18 1417.01 1489.35 1565.39 1645.31
7  :  1051.08 1104.78 1161.21 1220.53 1282.88 1348.42 1417.3 1489.71 1565.81 1645.79
8  :  1051.11 1104.83 1161.29 1220.64 1283.03 1348.6 1417.52 1489.97 1566.12 1646.16
9  :  1051.13 1104.87 1161.35 1220.73 1283.14 1348.74 1417.69 1490.17 1566.36 1646.44
10  :  1051.14 1104.9 1161.4 1220.79 1283.23 1348.85 1417.83 1490.34 1566.55 1646.67
11  :  1051.15 1104.92 1161.44 1220.85 1283.3 1348.94 1417.94 1490.47 1566.71 1646.85
12  :  1051.16 1104.94 1161.47 1220.9 1283.36 1349.02 1418.04 1490.59 1566.85 1647.01